# Distrobox ignore
.sudo_as_admin_successful
.gnupg
.wget-hsts
.bash_profile
/.cache
/.config
/.pki
/.vscode/*
!/.vscode/launch.json
/.ssh
/.local
.bash_history
/.dotnet
/.gitconfig
/.profile
/.bash_logout

# Claude
.claude.json
/.claude
.worktrees/

# Your project specific

